.detail {
  margin-top: 100px;
}

.buttons {
  width: 101%;
  height: 40px;
  margin-left: -5px;
  background-color: #FF5766;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

button{ 
  background-color: #FF5766;
  color: white;
  font-size: 20px;
  font-style: italic;
}